body {
	background-color: rgb(12, 12, 121);
}

p {
	color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

h3 {
	color: red;
    text-align: center;
    margin-bottom: 15px;
   
}


.center-block {
    height:240px;
    width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;

 }

.box {
    border: 1px solid white;
    height: 250px;
    width: 500px;
    padding-top: 10px;
    margin-top: 20px;
    background-color: black;
}

.box-w-l {
    border: 1px solid white;
    height: 50px;
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
}

#num-wins,
#num-losses,
#place-holders,
#guessed-letters,
#guesses-left {
    font-style: italic;
    color: red;
    font-size: 20px;
}

#new-game-button {
    align-content: center;
    display: block;
    cursor: pointer;
    font-size: 16px;
}


#place-holders {
    letter-spacing: 6px;
    font-size: 22px;
}