body {
	background-color: rgb(12, 12, 121);
}

p {
	color: white;
    text-align: center;
    font-weight: bold;
   
}

h3 {
	color: red;
    text-align: center;
    margin-bottom: 15px;
   
}


.center-block {
    height:240px;
    width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;

 }

.box {
    border: 1px solid white;
    height: 350px;
    width: 500px;
    padding-top: 10px;
    margin-top: 20px;
    background-color: black;
}

#num-wins,
#current-word,
#letters-guessed,
#guesses-remaining {
    font-style: italic;
    color: red;
}